<!DOCTYPE html>
<html lang="en" ng-app="bugTracker">
    <head>
        <meta charset="UTF-8">
        <title>Bug-Tracker</title>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="./css/site.css">
    </head>
    <body>
        <nav class="navbar navbar-default" ng-controller="NavController">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="nav navbar-form navbar-left" name="loginForm" ng-submit="login(loginForm)" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" ng-model="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-model="password">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->

                </nav>

                <header class="container-fluid">

                </header>

                <div class="container-fluid main-container" ng-view>

                </div>

                <footer class="container-fluid">

                </footer>

                <!-- Dependency scripts -->
                <script src="vendor/jquery.js"></script>
                <script src="vendor/bootstrap.js"></script>
                <script src="vendor/angular.js"></script>
                <script src="vendor/angular-route.js"></script>

                <!-- App scripts -->
                <script src="app/app.js"></script>

                <!-- Controllers -->
                <script type="text/javascript" src="app/controllers/MainController.js"></script>
                <script type="text/javascript" src="app/controllers/NavController.js"></script>
            </body>
        </html>